<!DOCTYPE html>
<html lang="en">
<head>
  <title>Simple TO-DO List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/todo-list.js"></script>
  <link rel="stylesheet" href="/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
  <form>
    <div class="form-row">
      <div class="col-md-6">
        <input type="text" class="form-control" id="item"  name="item" placeholder="Add New TO-DO" required>
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary" type="submit">Submit form</button>
      </div>
    </div>
    <hr>
    <div class="form-row">
          <% for(var i=0;i< todo.length;i++){ %>
              <div class="col-md-6">
                  <input  type="text" class="item"  name="" data-oldval= "<%=todo[i].ToDo%>" value="<%=todo[i].ToDo%>">
              </div>
              <div class="col-md-6">
                <button class="delete btn btn-danger" data-item="<%=todo[i].ToDo%>" type="button">Delete</button>

            </div>
          <% } %>
      </div>
    </div>
   </form>
 </div>
</body>
</html>
